@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #d9d0c7 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #130d31;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #130d31;
}